#title {
    background-color: #ff4c68;
}

.body {
    font-family: 'Montserrat';

}

.head1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size  : 3.5rem;
    line-height: 1.5;
    color      : #EAF6F6;
    margin-top : 2rem;

}


.container-fluid {
    padding: 3% 15% 7%;
}

/* navigation bar changes */
nav {
    font-family  : 'Ubuntu', sans-serif;
    margin-bottom: 4.5rem;

}

.navbar {
    padding-left: 0;


}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-item {
    margin     : 0 1.5rem;
    font-size  : 18px;
    font-family: 'Montserrat';
    font-weight: 300;
}

.Download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.iphone {
    width            : 60%;
    transform        : rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform   : rotate(25deg);
    -ms-transform    : rotate(25deg);
    -o-transform     : rotate(25deg);
    position         : absolute;
    right            : 30%;

}

i:hover {
    color: #ff4c68;
}


/* features section */

#features {
    padding: 7% 10%;

    background-color: #ffffff;
    position        : relative;

}

.feature-box {
    text-align: center;
}

.feature-image {
    color: #ef8172;

    margin-bottom: 1rem;
}

.feturehead {

    font-family: 'Montserrat';
    font-weight: 700;
    font-size  : 1.2rem;
}

#features p {
    color: #8f8f8f;

}

/* testimonial section */
#testimonials {

    text-align      : center;
    background-color: #ef8172;
    color           : #ffffff;
}

.carousel-item {
    padding           : 7% 15%;
    transition        : transform 0.6s ease;
    -webkit-transition: transform 0.6s ease;
    -moz-transition   : transform 0.6s ease;
    -ms-transition    : transform 0.6s ease;
    -o-transition     : transform 0.6s ease;
}

#testimonials h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size  : 3rem;
    line-height: 1.5;
    margin     : 20px;
}

.testimonial-image {
    width                : 10%;
    border-radius        : 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius   : 100%;
    -ms-border-radius    : 100%;
    -o-border-radius     : 100%;
}

#press img {
    width : 15%;
    margin: 20px 20px 50px;
}

#press {
    background-color: #ef8172;
    text-align      : center;
    padding-bottom  : 3%;
}

/* 
pricing section */

#pricing h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size  : 3rem;
    line-height: 1.5;

}

#pricing {
    padding   : 100px 100px 50px 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}


/* giving responsiveness using media queries */

@media (max-width:1028px) {

    .iphone {
        position         : static;
        transform        : rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform   : rotate(0deg);
        -ms-transform    : rotate(0deg);
        -o-transform     : rotate(0deg);
    }

    #title {
        text-align: center;
    }


}



/* call to action */

#cta {
    background-color: #ff4c68;
    text-align      : center;
    font-family     : 'Montserrat';
    font-weight     : 900;
    font-size       : 3rem;
    line-height     : 1;
    padding         : 7% 10%;
}

#cta h3 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size  : 3rem;
    line-height: 1.5;
    color      : #ffffff;
    width      : 70%;
    margin     : 0px auto 0;

}

#cta .btn {
    margin: 40px 10px 0;
}


/* footer section */


#footer {
    text-align      : center;
    padding         : 2% 15%;
    background-color: #ffffff;
}

#footer p {
    color: #8f8f8f;
}

#footer i {
    padding: 10px;
}